.Settings{
	padding: 1rem;
	max-width: 500px;
	margin: 0 auto;
	&__title{
		margin: 0 0 2rem;
	}
	&__toggle{
		padding: 0 1rem;
		height: 48px;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		background-color: hsl(0, 0%, 98%);
		&:hover{
			background-color: hsl(0, 0%, 96%);
		}
		&:focus{
			outline: none;
			box-shadow: 0 0 0 2px dodgerblue;
		}
		&:not(:first-child){
			margin-top: 1rem;
		}
	}
	&__lamp{
		height: 0;
		overflow-y: hidden;
		transition: height .15s;
		& p{
			margin: 0;
		}
		&--active{
			height: 150px;
		}
	}
	&__inner{
		padding: 1rem;
	}
}