.Pomodoro{
	color: white;
	margin-bottom: 50px;
	&--task{
		background-color: firebrick;
	}
	&--break{
		background-color: forestgreen;
	}
	&--longBreak{
		background-color: dodgerblue;
	}
	&__inner{
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 750px;
	}
	&__buttons{
		position: relative;
		bottom: 0;
	}
	&__secondaries{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 90vw;
		max-width: 320px;
		margin: 0 auto;
	}
	&__button{
		cursor: pointer;
		border: 2px solid transparent;
		outline: none;
		&:focus{
			border: 2px solid dodgerblue;
		}
		&--main{
			position: absolute;
			left: 50%;
			bottom: -50px;
			transform: translate(-50%);
			width: 100px;
			height: 100px;
			border: 8px solid firebrick;
			border-radius: 50%;
			background-color: hsl(0, 75%, 50%);
			& svg{
				margin: 0.5rem;
				fill: white;
			}
			&:hover{
				background-color: hsl(0, 75%, 55%);
			}
			&:focus{
				border: 8px solid firebrick;
				box-shadow: 0 0 0 5px dodgerblue;
			}
		}
		&--secondary{
			width: 75px;
			height: 75px;
			background-color: transparent;
			border: none;
			& svg{
				fill: hsl(0, 100%, 95%);
			}
			&:hover svg{
				fill: white;
			}
		}
		&--disabled{
			cursor: default;
			& svg{
				fill: hsla(0, 0%, 100%, 0.1);
			}
			&:hover{
				background-color: transparent;
				& svg{
					fill: hsla(0, 0%, 100%, 0.1);
				}
			}
		}
		&--main#{&}--disabled{
			border: none;
			background-color: hsl(0, 0%, 95%);
			& svg{
				fill: hsl(0, 0%, 80%);
			}
		}
	}
	&__activeTask{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0.5rem;
		font-size: 0.8rem;
		& span{
			color: white;
			font-size: 0.9rem;
			font-weight: 700;
		}
	}
	&__time{
		margin: 0;
		text-align: center;
		padding: 3rem 0 0;
		font-size: clamp(4rem, 12vw, 5rem);
		&--hours{
			font-size: clamp(0.9em, 11vw, 0.9em);
			font-weight: 100;
		}
		&--seconds{
			font-size: clamp(0.75em, 9vw, 0.75em);
			font-weight: 100;
		}
		&--separator{
			opacity: 0.5;
			font-weight: 100;
		}
	}
	&__message{
		padding: 0 1rem;
	}
	&__count{
		position: absolute;
		bottom: -50px;
		left: 1rem;
		margin: 0;
		max-width: 30%;
		line-height: 1rem;
		color: hsla(0, 0%, 0%, 0.75);
		font-size: 0.8rem;
		& span{
			font-weight: 700;
			font-size: 1.1rem;
		}
	}
}